@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:wght@100;300;400;500;600;700&family=Roboto+Mono:wght@400;700&display=swap");

$primary-color: #2d6b79;
$secondary-color: #c97bb1;
$tertiary-color: #3a8385;
$quaternary-color: #f4d2da;

body {
  background-color: $tertiary-color !important;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding-top: env(safe-area-inset-top);
  height: 100vh;
  width: 100vw;
}

canvas {
  height: calc(180px) !important;
}

#root {
  height: 100%;
  width: 100%;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.canvas-wrapper {
  transition: bottom 1.5s ease-out, margin-bottom 1.5s ease-out;
}

.camera-capture {
  z-index: 23;
  margin-top: -70px !important;
}

.icons {
  cursor: pointer;
  z-index: 100;
  position: relative;
  font-size: 4em;
  color: $quaternary-color;
}

.camera-capture__icon {
  animation: scaling 2s ease-in infinite;
  transition: all ease-in 0.4s;
  transform: scale(1);
  &:hover {
    color: $secondary-color;
    transform: scale(1.1) !important;
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
    color: $quaternary-color;
  }

  50% {
    transform: scale(1.1);
    color: $secondary-color;
  }

  100% {
    transform: scale(1);
    color: $quaternary-color;
  }
}

.instructions-icon {
  animation: climbing 2s ease-in infinite;
  // right: 20px;
  // bottom: 20px;
  display: block !important;
  font-size: 3em;
  stroke-width: 1.3;
}

.instructions {
  max-width: 400px;
  opacity: 0;
  transition: all 0.9s ease-out;
  position: relative;
  bottom: 0;
}

.album-icon {
  // bottom: 20px;
  // left: 20px;
  font-size: 3em;
  stroke-width: 1.5;
}

.display-help {
  opacity: 1;
  bottom: 30px;
}

.status-message {
  color: #fff;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

@keyframes climbing {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
